<h1>tasting rooms</h1>
<%= render :partial => "shared/winery_link", :locals => { :winery => @winery } %>

<%= render :partial => "shared/tasting_rooms", :object => @tasting_rooms, :as => :tasting_rooms, :locals => { :winery => @winery }  %>