<table class="info">
		<p>
			<h1><%= @last_tweet_id %></h1>
		</p>
    <tr>
      <th>ID</th>
    </tr>
    <% @tweets.each do |tweet| %>
    <tr>
      <td><%=h tweet.id %></td>
    </tr>
    <% end %>
  
  </table><!-- End Info -->