<div id="container"> 
  <h1>prelaunch signups</h1>
  <p id="notice"><%= notice %></p>
  <div class="info">
    <ul id="prelaunch-signups">
    <% @prelaunch_signups.each do |prelaunch_signup| %>
      <li>
          <%= link_to prelaunch_signup.email, edit_prelaunch_signup_path(prelaunch_signup) %>
      </li>
    <% end %>
    </ul>
  </div><!-- End Info -->
</div><!-- container -->
    