<div class="container_12">
  <div id="wrap">
    <div id="main">
      <div id="header">
        <h1>socialwino</h1>
      </div><!-- End Header -->
      <div id="container"> 
        <h1>prelaunch signups</h1>
        <p id="notice"><%= notice %></p>
        <div class="info">
          <ul id="prelaunch-signups">
          <% @prelaunch_signups.each do |prelaunch_signup| %>
            <li>
                <%= link_to prelaunch_signup.email, edit_prelaunch_signup_path(prelaunch_signup) %>
            </li>
          <% end %>
          </ul>
        </div><!-- End Info -->
      </div><!-- container -->
    </div><!-- main -->
    <div id="footer">
       <div class="footerbg">
         <div class="copy">
                   <p>Brought to you by the fine folks at <a href="http://suntouchersoftware.com">Suntoucher LLC</a>. © 2010 <a href="http://suntouchersoftware.com">Suntoucher LLC</a>. All rights reserved.</p>
         </div><!-- End Copy -->
       </div><!-- End Footerbg -->       
     </div><!-- End Footer -->
   </div><!-- wrap -->
</div><!-- container_12 -->