<div id="container">
  <div class="info-lp">
    <p>Creating a community of social winos and winemakers around our glorious Central Coast wine region.</p>
  </div><!-- End Info -->    
  <div id="sign-up">
    <div class="wino-button">
      <%= image_tag "glass-red.png", :title => "winemaker bottle", :class => "winemaker-bottle" %>
      winos
      <%= link_to 'sign up here', new_prelaunch_signup_path, :class => "large awesome wine" %>
    </div>
    <div class="winemaker-button">
      <%= image_tag "bottle.png", :title => "winemaker bottle", :class => "winemaker-bottle" %>
      winemakers
      <%= link_to 'sign up here', winemaker_new_prelaunch_signup_path, :class => "large awesome wine" %>
    </div>
  </div>
</div><!-- End Container -->            
  