<div id="wrap">
  <div id="main">
    <div class="centered">
    </div>
    <div id="header">
      <h1>socialwino</h1>
    </div><!-- End Header -->
       <div id="container">
              <div class="info">
                        <p>Creating a community of social winos and winemakers around our glorious wine region.</p>
                        <p class="small">It's all about the terroir.</p>              
              </div><!-- End Info -->
              <div class="social">
                        <ul>
                            <li><a class="facebook" href="http://www.facebook.com/pages/SocialWinocom/111461238902939">Facebook</a></li>
                            <li><a class="twit" href="http://twitter.com/socialwino">Twitter</a></li>
                        </ul>                         
              </div><!-- End Social -->          
       </div><!-- End Container -->            
  </div><!-- End Main -->  
  <div id="footer">
         <div class="footerbg">
                <div class="subscribe">
                          <h3>Join Us</h3>
                          <%= form_for(@prelaunch_signup, :html => { :id => "form-email" }) do |f| %>
                          <% if @prelaunch_signup.errors.any? %>
                          <div class="prelaunch-errors">
                          <div class="ui-widget">
                            <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                              <% @prelaunch_signup.errors.full_messages.each do |msg| %>
                                <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                                <%= msg %>
                              <% end %>
                            </div>
                          </div>
                          </div>
                          <% end %>
                        
                          <p>
                          <%= f.text_field :email,:placeholder => "Enter your e-mail address to get updates" %>
                          <%= f.submit "" %>
                          </p>
                        
                          <% end %>
                </div><!-- End Subscribe -->
                <div class="line">
                </div><!-- End Line-->
                <div class="copy">
                          <p>All content &amp; design © 2010 <a href="http://suntouchersoftware.com">Suntoucher LLC</a>. All rights reserved.</p>
                </div><!-- End Copy -->
        </div><!-- End Footerbg -->       
  </div><!-- End Footer -->
</div><!-- End Wrap -->