<div id="container"> 
  <p id="notice"><%= notice %></p>
  <div class="info">
    <p>Awesome!</p> 
    <p>Nice to have you join the community.</p> 
    <p>You are signed up as: <%= @prelaunch_signup.email %>.  We will be contacting you with launch details.</p>
  </div><!-- End Info -->
</div><!-- container -->



