<div id="container"> 
  <p id="notice"><%= notice %></p>
  <div id="bpic"><%= image_tag "/images/glass-red-bigger.png", :title => "barrel", :class => "barrel" %></div>
  <div class="info">
    <p>Awesome!</p> 
    <p>Nice to have you join the community.</p> 
    <p>You are signed up as: <%= @prelaunch_signup.email %>.  We will be contacting you with launch details.</p>
    <p>In the meantime please <a href="http://twitter.com/socialwino">follow us on twitter</a> and <a href="http://www.facebook.com/socialwino">like us on facebook</a>! Thanks.</p>
  </div><!-- End Info -->
</div><!-- container -->



