<div id="container">
  <div id="pitch">
    <div id="facts">
      <p>Over 1 million visitors come to the Central Coast annually.</p>
      <p>There are over 200 wineries in our wine region.</p>
    </div>
    <div id="questions">
      <p>How do you get those vistors to your tasting room?</p>
      <p>How do you get them to share their experience?</p>
      <p>How do you stay engaged so they keep buying wine and influencing others to buy your wine?</p>
    </div>
    <div id="answer">
      <p>Join socialwino as a verified winery and use our socialwinemaker 
         tools to do all that and more!</p>
    </div>
  </div>
  <div class="subscribe">
     <%= form_for(@prelaunch_signup, :html => { :id => "form-email" }) do |f| %>
     <% if @prelaunch_signup.errors.any? %>
     <div class="prelaunch-errors">
     <div class="ui-widget">
       <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
         <% @prelaunch_signup.errors.full_messages.each do |msg| %>
           <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
           <%= msg %>
         <% end %>
       </div>
     </div>
     </div>
     <% end %>
     <p>
      <%= f.text_field :email,:placeholder => "enter your e-mail address" %>
      <%= f.submit "" %>
     </p>
     <% end %>
   </div><!-- End Subscribe -->
</div><!-- End Container -->            
  