* {padding: 0; margin: 0;}

#ipad {
  width: 1024;
  height: 768px;
  position: relative;
  background: url(tuscany-vineyard.jpg) no-repeat;
  overflow: hidden;
}

#tweet-scroller {
  position: relative;
  margin-top: 6px;
  width: 1024px;
  overflow: hidden;
}

#tweet-scroller > div {
 position: relative;
  width: 2500px;
  height: 100px;
  height: 150px;
}

#tweet-scroller > div div {
	float: left;
  
  margin-left: 5px;
}

#bottle {
  position: absolute;
  top: 120px;
   left: -320px;
   -webkit-transition-property: -webkit-transform;
   -webkit-transition-duration: 3s;
}

.pour {
    -webkit-transform: rotate(10deg);
 }

.tweetmove {
	-webkit-anaimation: pourtweet 4s infinite;
}

@-webkit-keyframes pourtweet {
	from {
		-webkit-transform: scale(.6) rotate(15deg);
		
		left: 545px;
		top: 500px;
	}
	
	to {
		-webkit-transform: scale(1) rotate(0deg);
		left: 645px;
		top: 615px;
	}
}






#glass {
  position: absolute;
  height: 420px;
  width: 300px;
  overflow: hidden;
  top: 375px;
  left: 615px;
}

#new-tweet {
  position: absolute;
  left: 645px;
  top: 460px;
}

.tweet {
  width: 200px;
  height: 110px;
  border: 4px solid #DC668E;
  overflow: hidden;
  
  -webkit-border-radius: 15px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 15px;
  -moz-border-radius-topleft: 0;
  border-radius: 15px;
  border-top-left-radius: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2c090d), to(#9e050f));
  background: -moz-linear-gradient(left,#2c090d,#9e050f);
  color: white;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.tweet img {
  border-right: 2px solid #DC668E;
  border-bottom: 2px solid #DC668E;
  margin-right: 5px;
  float: left;
}

.tweet p {
  font-size: 13px;
  margin: 7px 5px 0 5px;
}