<h1>edit wine</h1>
<%= render :partial => "shared/winery_link", :locals => { :winery => @winery } %>

<%= render 'form' %>

<%= link_to 'show', winery_wine_path(@winery, @wine) %> |
<%= link_to 'back', winery_wines_path(@winery) %>
