<h1>wines</h1>
<%= render :partial => "shared/winery_link", :locals => { :winery => @winery } %>

<%= render :partial => "shared/wine_listing", :object => @wines, :as => :wines, :locals => { :winery => @winery }  %>

